body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #2F2F2F;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

#headerContainer{
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    height: 48px;
    background-color: rgba(30, 30, 30, 0.8);
    position: relative;
    font-weight: bold;
}

#headerNav{
    width: 90%;
    height: 48px;
    margin: 0 5% 0 5%;
    position: absolute;
}

#headerNav ul{
    width: 100%;
    height: 100%;
}

#headerNav li{
    float: left;
}

.headerItem{
    float: left;
    -webkit-transition: all 0.1s ease-in;
}

.headerItem a{
    padding: 14px 16px;
}

.headerItem:hover{
    background-color: rgba(10, 10, 10, 0.8);
    -webkit-transition: all 0.1s ease-in;
    cursor: pointer;
}

.rightItem{
    float: right;
}

#loginContainer, #signupContainer, #containerQuestion{
    background-color: rgba(40, 40, 40, 0.8);
    min-width: 350px;
    max-width: 30%;
    margin: 10% auto;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 3px;
    display: block;
    color: #B1B1B1;
}

fieldset{
    border: 1px solid #5C5C5C;
}

.loginRow, .signupRow, .questionRow{
    width: 75%;
    display: block;
    margin: 10px auto 0 auto;
    height: 90px;
    position: relative;
}

.loginRow label, .signupRow label, .questionRow label, .questionRowText label{
    font-weight: bold;
}

.loginRow input[type="text"], .loginRow input[type="password"], .signupRow input[type="text"], .signupRow input[type="password"], .questionRow input[type="text"]{
    border-style: none;
    border-color: none;
    border-width: 0;
    position: absolute;
    top: 30%;
    left: 10%;
    height: 40%;
    width: 80%;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.loginButton, .signupButton{
    border-style: none;
    border-color: none;
    border-width: 0;
    width: 100px;
    height: 40px;
    background-color: #373737;
    color: #BDB6B6;
    border-radius: 2px;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 30%;
    -webkit-transition: all 0.1s ease-in;
}

.loginButton:hover, .signupButton:hover{
    cursor: pointer;
    background-color: #232323;
    -webkit-transition: all 0.1s ease-in;
}

.signupRow select{
    border-style: none;
    border-color: none;
    border-width: 0;
    position: absolute;
    height: 40%;
    width: 22%;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.day{
    top: 30%;
    left: 10%;   
}

.month{
    top: 30%;
    left: 40%;
}

.year{
    top: 30%;
    left: 70%;
}

#signupBorrar{
    top: 30%;
    left: 10%;
}

#signupEnviar{
    top: 30%;
    right: -5%;
}

#modificarBorrar{
    top: 30%;
    left: 10%;
    width: 160px;
}

#modificarEnviar{
    top: 30%;
    right: -15%;
}

#latestEntries{
    background-color: rgba(40, 40, 40, 0.8);
    min-width: 350px;
    max-width: 50%;
    margin: 10% auto;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 3px;
    display: block;
    color: #B1B1B1;
}

h2{
    font-weight: bold;
    font-size: 32px;
    margin: 5px auto;
    color: #DEDBDB;
}

.entry {
    overflow: auto;
    float: left; 
}

.forumEntry{
    background-color: rgba(100,100, 100, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 3px;
    display: block;
    width: auto;
    padding: 10px;
    overflow: auto;
}

h3{
    font-size: 24px;
}

.forumTopic{
    border: 1px solid #949494;
    border-radius: 2px;
    background-color: #C7C5C5;
    color: #5A5A5A;
    float: left;
    margin: 10px;
    padding: 2px;
    -webkit-transition: all 0.1s ease-in;
}

.forumTopic:hover{
    background-color: #7D7A7A;
    -webkit-transition: all 0.1s ease-in;
}

.entryInfo{
    float: right;
    margin: 15px;
}

#entryTitle, #entryContent{
    padding: 10px;
}

#entryTitle {
    padding: 5px 10px;
}

.entry h3,h5, p, a{
    display: block;
    position: relative;
    margin: 0px;
}

#entryContainer {
    background-color: rgba(40, 40, 40, 0.8);
    min-width: 350px;
    max-width: 60%;
    margin: 10% auto;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 3px;
    display: block;
    color: #D8D8D8;
    overflow: auto;
}

#entryContent {
    background-color: rgba(20,20,20,0.6);
    font-weight: bold;
    font-size: 16px;
}

#entryInfo {
    background-color: rgba(60,60,60,0.6);
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
}

#entryTitle{
    background-color: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    border-bottom: 1px solid #828282;
}

.entry.answer{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.entry.answer textarea{
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize:none;
    width: 100%;
    height: 300px;
}

#entryInfo input[type="submit"]{
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    position: absolute;
    right: 1px;
    bottom: 1px;
    background-color: #4A4545;
    color: white;
    width: 10%;
    height: 8%;
}

.questionRowText textarea{
    border-style: none;
    border-color: none;
    border-width: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 300px;
    width: 80%;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.questionRowText{
    width: 75%;
    display: block;
    margin: 10px auto 0 auto;
    height: 350px;
    position: relative;
}

.questionRow input[type="submit"]{
    border-style: none;
    border-color: none;
    border-width: 0;
    width: 100px;
    height: 40px;
    background-color: #373737;
    color: #BDB6B6;
    border-radius: 2px;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 40%;
    -webkit-transition: all 0.1s ease-in;
}

.questionRow input[type="submit"]:hover{
    cursor: pointer;
    background-color: #232323;
    -webkit-transition: all 0.1s ease-in;
}

.entryContainer{
    background-color: rgba(100, 100, 100, 0.8);
    margin-bottom: 10px;
}

.username{
    color: #AD4E21;
    float: left;
}

.row textarea{
    margin-bottom: 30px;
}

#entryButton{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#entryButton input[type="submit"]{
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: #3B3B3B;
    color: white;
    width: 70px;
    height: 30px;
    -webkit-transition: all 0.1s ease-in;
}

#entryButton input[type="submit"]:hover{
    background-color: #5E5E5E;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in;
}